{% extends 'base.html.twig' %}

{% block title %}{{page.name}} | FuneraireFrance{% endblock %}

{% block body %}

    <div class="container-fluid">
    <div class="h6 mt-3"> <a href="/">Acceuil</a><span>{{' / '~page.name}}</span> </div>
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                
                <div class="h2 text-center"> {{page.name}} </div>
                <div class="mt-3 col-12">{{page.content|raw}}</form> 
            </div>
        </div>
    </div>

{% endblock %}
